.flash-alert{
    position:fixed;
    top:15%;
    left:25%;
    right:25%;
    width:50%;
    margin-top:20px;
    border-left:35px solid;
    z-index:1200}
.flash-alert.alert-info{
    color:#57abf9;
    background-color:#d9edf7;
    border-color:#a4d4dd;
    box-shadow:0 0 0.5em #a4d4dd}
.flash-alert.alert-success{
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#84d185;
    box-shadow:0 0 0.5em #84d185}
.flash-alert.alert-danger{
    background:none repeat scroll 0 0 #FFF3F3;
    border-color:#FFAAAA;
    color:#CC0000;
    box-shadow:0 0 0.5em #FFAAAA}
.flash-alert.alert-warning{
    color:#8a6d3b;
    background-color:#fcf8e3;
    border-color:#faebcc;
    box-shadow:0 0 0.5em #faebcc}